@import "tailwindcss";

@theme {
  --font-sans: var(--font-courier-prime);
}

body {
  color: #0a0a0a;
  background-color: #fffcfc;
  max-width: calc(11 / 12 * 100%);
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
  font-family: "Courier Prime", Helvetica, sans-serif;
}
