@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-courier-prime);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--foreground);
  color: var(--foreground);
  background-color: #fffcfc;
  background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");

  font-family: "Courier Prime", Helvetica, sans-serif;
}
